services:
  saml-lab:
    build: .
    container_name: saml-service
    environment:
      - FLASK_SECRET_KEY=${FLASK_SECRET_KEY}
      - SAML_IDP_ENTITY_ID=${SAML_IDP_ENTITY_ID}
      - SAML_IDP_SSO_URL=${SAML_IDP_SSO_URL}
      - SAML_IDP_X509CERT=${SAML_IDP_X509CERT}
      - SAML_DEBUG=${SAML_DEBUG}
      - SAML_ENABLE_SLO=${SAML_ENABLE_SLO}
      
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.saml-service.rule=Host(`saml-service.aktechnoservices.com`)"
      - "traefik.http.routers.saml-service.entrypoints=websecure"
      - "traefik.http.routers.saml-service.tls.certresolver=cloudflare"
      - "traefik.http.services.saml-service.loadbalancer.server.port=5000"
    
    networks:
      - reverse-proxy
   
networks:
  reverse-proxy:
    external: true
